# Parte 1 #

In [ ]:
# Objjetivos : O time comercial precisa saber quais foram os 10 itens de maior relevância no período e os top
#15 itens que acompanham cada um deles.
# Além da possibilidade de criar combos promocionais.

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('CASE_PRATICO.csv' )

In [ ]:
data.head()

,periodo,id_clube,socio,canal,ticket,departamento,item_id,item_descricao,item_unidade,receita_bruta,margem
0,2022-01-10,5235,45765100809381908,PISO,4576510080938190820220110,BAZAR E TÊXTIL,1259475,CALCAO,2,81.17,22.43
1,2022-01-10,5235,45766100903265726,PISO,4576610090326572620220110,BAZAR E TÊXTIL,1259475,CALCAO,1,41.27,11.90
2,2022-01-10,5235,45765100815078019,PISO,4576510081507801920220110,BAZAR E TÊXTIL,1225017,CHAPEU PRAIA,1,51.27,11.10
3,2022-01-10,5235,45766100904345030,PISO,4576610090434503020220110,BAZAR E TÊXTIL,1216504,BANCO DOBRAVEL,1,81.34,22.93
4,2022-01-10,5235,45766100903286284,PISO,4576610090328628420220110,BAZAR E TÊXTIL,1259473,BERMUDA MOLETOM,2,201.17,46.37

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878596 entries, 0 to 878595
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   periodo         878596 non-null  object
 1   id_clube        878596 non-null  int64
 2   socio           878596 non-null  int64
 3   canal           878596 non-null  object
 4   ticket          878596 non-null  object
 5   departamento    878596 non-null  object
 6   item_id         878596 non-null  int64
 7   item_descricao  878596 non-null  object
 8   item_unidade    878596 non-null  int64
 9   receita_bruta   878596 non-null  float64
 10  margem          878596 non-null  float64
dtypes: float64(2), int64(4), object(5)
memory usage: 73.7+ MB

In [ ]:
#Calculando o lucro de cada item
data["Lucro"]= (data['receita_bruta']*data['margem']/100).round(2)
data.head()

,periodo,id_clube,socio,canal,ticket,departamento,item_id,item_descricao,item_unidade,receita_bruta,margem,Lucro
0,2022-01-10,5235,45765100809381908,PISO,4576510080938190820220110,BAZAR E TÊXTIL,1259475,CALCAO,2,81.17,22.43,18.21
1,2022-01-10,5235,45766100903265726,PISO,4576610090326572620220110,BAZAR E TÊXTIL,1259475,CALCAO,1,41.27,11.90,4.91
2,2022-01-10,5235,45765100815078019,PISO,4576510081507801920220110,BAZAR E TÊXTIL,1225017,CHAPEU PRAIA,1,51.27,11.10,5.69
3,2022-01-10,5235,45766100904345030,PISO,4576610090434503020220110,BAZAR E TÊXTIL,1216504,BANCO DOBRAVEL,1,81.34,22.93,18.65
4,2022-01-10,5235,45766100903286284,PISO,4576610090328628420220110,BAZAR E TÊXTIL,1259473,BERMUDA MOLETOM,2,201.17,46.37,93.28

In [ ]:
data2 = data[['item_descricao','item_unidade', 'Lucro']].groupby(['item_descricao']).sum(['Lucro'])
data2.head()

                                   item_unidade  Lucro
item_descricao
.AGUA SANITARIA 6X1L SUPER GLOBO              1   0.57
.ALA ROSAS E FLOR LIS 27X500G                 0   0.02
.BAYGON AERO 12X360ML                         1   4.18
.CAFE TRES CORACOES ALM TRAD 500G             7   3.64
.COMFORT 6X2LTS AMACIANTE CLASSIC            11 -67.20

In [ ]:
#Os 10 itens de maior relevância no período
data2.sort_values(by='Lucro',ascending= False).head(10)

                                     item_unidade       Lucro
item_descricao
CERV HEINEKEN LN 6X330ML                     5256  4768352.95
LEITE UHT ITALAC INTEGRAL TP 12X1L            895   368246.45
AZEITE EV ESPANHOL 2LT MM                     669   195903.57
REF DM84X INOX 579L 220V                       14   191484.79
PISCINA 6.473LTS C/ BOMBA 220V                 20   182433.44
ARCON 9000BTU LG EX FRIO INVERT 220             9   180665.27
POLTRONA 2 LUGARES NORFO                        7   170352.15
CADEIRA EXECUTIVA SERTA                        44   148699.54
ARCOND INV VOICE 12000 FRIO EXT                13   142353.57
ESTANTE ORG 5PRATELEIRAS C/RODIZIOS            68   127092.47

In [ ]:
periodo = data['periodo'].unique()
periodo

array(['2022-01-10', '2022-01-11', '2022-01-12'], dtype=object)

In [ ]:
#os top 15 itens que acompanham cada um dos período.
data3 = data[['periodo','item_descricao','item_unidade', 'Lucro']].groupby(['periodo','item_descricao']).sum(['Lucro'])
data3=data3.reset_index()

for x in periodo:
    print(data3.loc[data3['periodo']==x].sort_values(by='Lucro',ascending= False).head(15))

         periodo                       item_descricao  item_unidade  \
2292  2022-01-10             CERV HEINEKEN LN 6X330ML          1668
4804  2022-01-10   LEITE UHT ITALAC INTEGRAL TP 12X1L          -154
849   2022-01-10            AZEITE EV ESPANHOL 2LT MM           273
8056  2022-01-10               SUV MERCEDES BENZ 12 V             2
7599  2022-01-10       SCOOTER ELETRICA 1500W MOD HR4             1
646   2022-01-10      ARCOND INV VOICE 12000 FRIO EXT             7
5395  2022-01-10           MESA DOBRAVEL 1.80M BRANCA            20
6682  2022-01-10             POLTRONA 2 LUGARES NORFO             3
2670  2022-01-10          CHURRASQUEIRA A GAS KENMORE             3
7188  2022-01-10      REF RS50N34 INOX LOOK 501L 127V             1
1670  2022-01-10              CADEIRA EXECUTIVA SERTA            18
3520  2022-01-10  ESTANTE ORG 5PRATELEIRAS C/RODIZIOS            28
8110  2022-01-10         TAPETE MEMBERS MARK COM 80UN           322
7124  2022-01-10             REF DM84X INOX 579L 220V             3
7197  2022-01-10  REF SIDE BY SIDE LG601L DISP AG127V             2

           Lucro
2292  2154222.50
4804   183332.90
849    168669.00
8056    80830.94
7599    79218.88
646     75285.44
5395    72231.94
6682    66630.33
2670    61771.60
7188    56202.60
1670    52991.28
3520    50415.07
8110    47262.35
7124    44677.88
7197    39063.62
          periodo                       item_descricao  item_unidade  \
11185  2022-01-11             CERV HEINEKEN LN 6X330ML          1962
13778  2022-01-11   LEITE UHT ITALAC INTEGRAL TP 12X1L           673
9543   2022-01-11  ARCON 9000BTU LG EX FRIO INVERT 220             4
12370  2022-01-11            ESCORREDOR DE LOUCAS RACK            38
16226  2022-01-11      REF RS50N34 INOX LOOK 501L 220V             0
10547  2022-01-11              CADEIRA EXECUTIVA SERTA            15
16235  2022-01-11  REF SIDE BY SIDE LG601L DISP AG127V             1
15710  2022-01-11            POLTRONA RECLINAVEL NORFO             5
16167  2022-01-11             REF DM84X INOX 579L 220V             6
15706  2022-01-11             POLTRONA 2 LUGARES NORFO             2
11555  2022-01-11     CHOCOLATE BELGA FLOCOS PEQU. 1KG            83
11838  2022-01-11            CONJ PATIO 3 PCS EM RATAN             1
10546  2022-01-11       CADEIRA EXECUTIVA EM TELA MESH             8
12476  2022-01-11  ESTANTE ORG 5PRATELEIRAS C/RODIZIOS            19
11600  2022-01-11          CHURRASQUEIRA HIBRIDA A GAS             1

            Lucro
11185  1272183.96
13778   182650.66
9543     93733.07
12370    71988.07
16226    70988.83
10547    67862.10
16235    67543.33
15710    65943.75
16167    61679.30
15706    53248.42
11555    49687.82
11838    45808.17
10546    41510.82
12476    37984.84
11600    37983.64
          periodo                       item_descricao  item_unidade  \
20258  2022-01-12             CERV HEINEKEN LN 6X330ML          1626
24670  2022-01-12       PISCINA 6.473LTS C/ BOMBA 220V            16
18636  2022-01-12  ARCON 9000BTU LG EX FRIO INVERT 220             5
25244  2022-01-12             REF DM84X INOX 579L 220V             5
25243  2022-01-12             REF DM84X INOX 579L 110V             5
24674  2022-01-12                     PISCINA SPA 127V             4
20648  2022-01-12       CHURRASQUEIRA A GAS KITCHENAID             1
24781  2022-01-12             POLTRONA 2 LUGARES NORFO             2
20886  2022-01-12            CONJ PATIO 3 PCS EM RATAN             1
26226  2022-01-12         TAPETE MEMBERS MARK COM 80UN           321
21544  2022-01-12  ESTANTE ORG 5PRATELEIRAS C/RODIZIOS            21
26171  2022-01-12               SUV MERCEDES BENZ 12 V             1
24784  2022-01-12            POLTRONA RECLINAVEL NORFO             3
18639  2022-01-12      ARCOND INV VOICE 12000 FRIO EXT             3
18631  2022-01-12   AR CONDIC PORT1 OLIMPIA SPLEN 127V             4

            Lucro
20258  1341946.49
24670   173189.29
18636    86932.20
25244    85127.61
25243    73507.21
24674    59667.67
20648    51843.26
24781    50473.40
20886    45808.17
26226    42952.34
21544    38692.56
26171    37358.42
24784    35473.01
18639    33404.44
18631    31619.43

In [ ]:
#Criando/Analisando a possibilidade de combos promocionais...
data4= data.drop(data[data['item_descricao']=='SACOLA PLASTICA MM BRANCA'].index)
data4

,periodo,id_clube,socio,canal,ticket,departamento,item_id,item_descricao,item_unidade,receita_bruta,margem,Lucro
0,2022-01-10,5235,45765100809381908,PISO,4576510080938190820220110,BAZAR E TÊXTIL,1259475,CALCAO,2,81.17,22.43,18.21
1,2022-01-10,5235,45766100903265726,PISO,4576610090326572620220110,BAZAR E TÊXTIL,1259475,CALCAO,1,41.27,11.90,4.91
2,2022-01-10,5235,45765100815078019,PISO,4576510081507801920220110,BAZAR E TÊXTIL,1225017,CHAPEU PRAIA,1,51.27,11.10,5.69
3,2022-01-10,5235,45766100904345030,PISO,4576610090434503020220110,BAZAR E TÊXTIL,1216504,BANCO DOBRAVEL,1,81.34,22.93,18.65
4,2022-01-10,5235,45766100903286284,PISO,4576610090328628420220110,BAZAR E TÊXTIL,1259473,BERMUDA MOLETOM,2,201.17,46.37,93.28
...,...,...,...,...,...,...,...,...,...,...,...,...
878591,2022-01-12,7780,45752200200689222,PISO,4575220020068922220220112,HIGIENE E LIMPEZA,1235849,YPE CONCENTRAD BLUE AMACIANTE 1.5LT,1,21.36,5.05,1.08
878592,2022-01-12,7780,45752100207181231,PISO,4575210020718123120220112,HIGIENE E LIMPEZA,1235849,YPE CONCENTRAD BLUE AMACIANTE 1.5LT,1,21.36,5.05,1.08
878593,2022-01-12,7780,45765100803107283,PISO,4576510080310728320220112,HIGIENE E LIMPEZA,1235849,YPE CONCENTRAD BLUE AMACIANTE 1.5LT,1,21.36,5.05,1.08
878594,2022-01-12,7780,45752220207119702,PISO,4575222020711970220220112,HIGIENE E LIMPEZA,1235849,YPE CONCENTRAD BLUE AMACIANTE 1.5LT,1,21.36,5.05,1.08
878595,2022-01-12,7780,45752100210188207,PISO,4575210021018820720220112,HIGIENE E LIMPEZA,1235849,YPE CONCENTRAD BLUE AMACIANTE 1.5LT,1,21.36,5.05,1.08

In [ ]:
data4['Agrupado'] = data4.groupby(data4['socio'])['item_descricao'].transform(lambda x: '---'.join(x))

In [ ]:
data5 = data4[['socio','Agrupado']].drop_duplicates()
data5

                    socio                                           Agrupado
0       45765100809381908  CALCAO---CAMISETA FITNESS---CAMISETA FITNESS M...
1       45766100903265726  CALCAO---CALCA C/BOLSOS E ELASTICO NA BARRA---...
2       45765100815078019  CHAPEU PRAIA---CERV FAXE WITBIER LT 1L---CERV ...
3       45766100904345030  BANCO DOBRAVEL---CENOURA KG---CEBOLA ROXA 1.5 ...
4       45766100903286284  BERMUDA MOLETOM---CAMISETA FITNESS MASCULINA R...
...                   ...                                                ...
877696  45766100905134920                 LIMPOL DETERGENTE LOUCA NEUTRO 5LT
877891  45766100903229821  PULSEIRA MILAN 38/40 APP WAT PRATA---PANIFICAD...
878160  45752210208981993                FILE PEITO FRANGO SADIA 1KG ZIP IQF
878188  45765100804826022                FRALDA PAMPERS PREMIUM PANTS G112UN
878562  45752100209588953                TOALHA FISHER PRICE ROSAS BC 4X50UN

[71865 rows x 2 columns]

In [ ]:
from itertools import combinations
from collections import Counter

In [ ]:
count = Counter()

In [ ]:
#Encontrando possíveis combos...
for row in data5['Agrupado']:
    row_list = row.split('---')
    count.update(Counter(combinations(row_list,2)))

combos=[]
for key, value in count.most_common(10):
    print(key,value)
    combos.append(key)

('PH NEVE FT 20M L32P28UN', 'PAPEL TOALHA KITCHEN JUMB FD C360FL') 2874
('PH PERSONAL VIP FD 40 ROLOSX30M', 'PAPEL TOALHA KITCHEN JUMB FD C360FL') 2772
('MM LAVA ROUPAS 5LTS ULTIMATE CLEAN', 'PAPEL TOALHA KITCHEN JUMB FD C360FL') 2265
('OMO LAVA ROUPAS LAVAG PERFEITA 5LT', 'PAPEL TOALHA KITCHEN JUMB FD C360FL') 1917
('LIMPOL 6X500ML DETERG LIQ NATURAL', 'PAPEL TOALHA KITCHEN JUMB FD C360FL') 1779
('SUPER CANDIDA 5LT AGUA SANITARIA', 'PAPEL TOALHA KITCHEN JUMB FD C360FL') 1506
('ALCOOL LIQ BACT 70 INPM TOPFORM 1L', 'PAPEL TOALHA KITCHEN JUMB FD C360FL') 1497
('PH PERSONAL VIP FD 40 ROLOSX30M', 'MM LAVA ROUPAS 5LTS ULTIMATE CLEAN') 1443
('PH NEVE FT 20M L32P28UN', 'OMO LAVA ROUPAS LAVAG PERFEITA 5LT') 1434
('CENOURA KG', 'BANANA PRATA KG') 1341

In [ ]:
print("Possíveis combos:", combos)

Possíveis combos: [('PH NEVE FT 20M L32P28UN', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('PH PERSONAL VIP FD 40 ROLOSX30M', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('MM LAVA ROUPAS 5LTS ULTIMATE CLEAN', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('OMO LAVA ROUPAS LAVAG PERFEITA 5LT', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('LIMPOL 6X500ML DETERG LIQ NATURAL', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('SUPER CANDIDA 5LT AGUA SANITARIA', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('ALCOOL LIQ BACT 70 INPM TOPFORM 1L', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('PH PERSONAL VIP FD 40 ROLOSX30M', 'MM LAVA ROUPAS 5LTS ULTIMATE CLEAN'), ('PH NEVE FT 20M L32P28UN', 'OMO LAVA ROUPAS LAVAG PERFEITA 5LT'), ('CENOURA KG', 'BANANA PRATA KG')]

## Parte 2 ##

In [ ]:
#Objetivo : A partir da solução da Parte 1, desenvolva uma nova solução com alguma técnica de Machine Learning que permita
# achar combos maiores

In [ ]:
!pip install mlxtend

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
te = TransactionEncoder()
data_te = te.fit(combos).transform(combos)

In [ ]:
df = pd.DataFrame(data_te,columns = te.columns_)
df.head()

,ALCOOL LIQ BACT 70 INPM TOPFORM 1L,BANANA PRATA KG,CENOURA KG,LIMPOL 6X500ML DETERG LIQ NATURAL,MM LAVA ROUPAS 5LTS ULTIMATE CLEAN,OMO LAVA ROUPAS LAVAG PERFEITA 5LT,PAPEL TOALHA KITCHEN JUMB FD C360FL,PH NEVE FT 20M L32P28UN,PH PERSONAL VIP FD 40 ROLOSX30M,SUPER CANDIDA 5LT AGUA SANITARIA
0,False,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,True,False,True,False
2,False,False,False,False,True,False,True,False,False,False
3,False,False,False,False,False,True,True,False,False,False
4,False,False,False,True,False,False,True,False,False,False

In [ ]:
from mlxtend.frequent_patterns import apriori

In [ ]:
combos2 = apriori(df, min_support = 0.003, use_colnames= True)
combos2.head()

   support                              itemsets
0      0.1  (ALCOOL LIQ BACT 70 INPM TOPFORM 1L)
1      0.1                     (BANANA PRATA KG)
2      0.1                          (CENOURA KG)
3      0.1   (LIMPOL 6X500ML DETERG LIQ NATURAL)
4      0.2  (MM LAVA ROUPAS 5LTS ULTIMATE CLEAN)

In [ ]:
combos2.sort_values(by=['support'], ascending = False)

    support                                           itemsets
6       0.7              (PAPEL TOALHA KITCHEN JUMB FD C360FL)
4       0.2               (MM LAVA ROUPAS 5LTS ULTIMATE CLEAN)
5       0.2               (OMO LAVA ROUPAS LAVAG PERFEITA 5LT)
7       0.2                          (PH NEVE FT 20M L32P28UN)
8       0.2                  (PH PERSONAL VIP FD 40 ROLOSX30M)
0       0.1               (ALCOOL LIQ BACT 70 INPM TOPFORM 1L)
13      0.1  (MM LAVA ROUPAS 5LTS ULTIMATE CLEAN, PAPEL TOA...
18      0.1  (PH PERSONAL VIP FD 40 ROLOSX30M, PAPEL TOALHA...
17      0.1  (PAPEL TOALHA KITCHEN JUMB FD C360FL, PH NEVE ...
16      0.1  (OMO LAVA ROUPAS LAVAG PERFEITA 5LT, PH NEVE F...
15      0.1  (PAPEL TOALHA KITCHEN JUMB FD C360FL, OMO LAVA...
14      0.1  (MM LAVA ROUPAS 5LTS ULTIMATE CLEAN, PH PERSON...
10      0.1  (PAPEL TOALHA KITCHEN JUMB FD C360FL, ALCOOL L...
12      0.1  (LIMPOL 6X500ML DETERG LIQ NATURAL, PAPEL TOAL...
11      0.1                      (CENOURA KG, BANANA PRATA KG)
1       0.1                                  (BANANA PRATA KG)
9       0.1                 (SUPER CANDIDA 5LT AGUA SANITARIA)
3       0.1                (LIMPOL 6X500ML DETERG LIQ NATURAL)
2       0.1                                       (CENOURA KG)
19      0.1  (PAPEL TOALHA KITCHEN JUMB FD C360FL, SUPER CA...

In [ ]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
rules = association_rules(combos2, metric = 'confidence', min_threshold = 0.001)
rules.columns

Index(['antecedents', 'consequents', 'antecedent support',
       'consequent support', 'support', 'confidence', 'lift', 'leverage',
       'conviction', 'zhangs_metric'],
      dtype='object')

In [ ]:
analise = rules.sort_values(by= ['lift'], ascending = False).drop(['antecedent support',
       'consequent support', 'support', 'confidence', 'lift', 'leverage',
       'conviction', 'zhangs_metric'], axis=1)

analise

,antecedents,consequents
2,(CENOURA KG),(BANANA PRATA KG)
3,(BANANA PRATA KG),(CENOURA KG)
9,(PH PERSONAL VIP FD 40 ROLOSX30M),(MM LAVA ROUPAS 5LTS ULTIMATE CLEAN)
13,(PH NEVE FT 20M L32P28UN),(OMO LAVA ROUPAS LAVAG PERFEITA 5LT)
12,(OMO LAVA ROUPAS LAVAG PERFEITA 5LT),(PH NEVE FT 20M L32P28UN)
8,(MM LAVA ROUPAS 5LTS ULTIMATE CLEAN),(PH PERSONAL VIP FD 40 ROLOSX30M)
0,(PAPEL TOALHA KITCHEN JUMB FD C360FL),(ALCOOL LIQ BACT 70 INPM TOPFORM 1L)
18,(PAPEL TOALHA KITCHEN JUMB FD C360FL),(SUPER CANDIDA 5LT AGUA SANITARIA)
1,(ALCOOL LIQ BACT 70 INPM TOPFORM 1L),(PAPEL TOALHA KITCHEN JUMB FD C360FL)
19,(SUPER CANDIDA 5LT AGUA SANITARIA),(PAPEL TOALHA KITCHEN JUMB FD C360FL)
5,(PAPEL TOALHA KITCHEN JUMB FD C360FL),(LIMPOL 6X500ML DETERG LIQ NATURAL)
4,(LIMPOL 6X500ML DETERG LIQ NATURAL),(PAPEL TOALHA KITCHEN JUMB FD C360FL)
7,(PAPEL TOALHA KITCHEN JUMB FD C360FL),(MM LAVA ROUPAS 5LTS ULTIMATE CLEAN)
11,(OMO LAVA ROUPAS LAVAG PERFEITA 5LT),(PAPEL TOALHA KITCHEN JUMB FD C360FL)
6,(MM LAVA ROUPAS 5LTS ULTIMATE CLEAN),(PAPEL TOALHA KITCHEN JUMB FD C360FL)
14,(PAPEL TOALHA KITCHEN JUMB FD C360FL),(PH NEVE FT 20M L32P28UN)
15,(PH NEVE FT 20M L32P28UN),(PAPEL TOALHA KITCHEN JUMB FD C360FL)
16,(PH PERSONAL VIP FD 40 ROLOSX30M),(PAPEL TOALHA KITCHEN JUMB FD C360FL)
17,(PAPEL TOALHA KITCHEN JUMB FD C360FL),(PH PERSONAL VIP FD 40 ROLOSX30M)
10,(PAPEL TOALHA KITCHEN JUMB FD C360FL),(OMO LAVA ROUPAS LAVAG PERFEITA 5LT)

In [ ]:
#Encontrando Novos Combos
antecedente = [list(x) for x in analise['antecedents']]
lista = sum(antecedente, [])

consequente = [list(x) for x in analise['consequents']]
lista2 = sum(consequente, [])


for itemA in lista:
    for i, tupla in enumerate(combos):
        if itemA in tupla:
            itemB = lista2[lista.index(itemA)]
            if itemB not in tupla:
                nova_tupla = tupla + (itemB,)
                if len(nova_tupla) == 3:
                    combos[i] = nova_tupla
                    break

print("Novos combos: ", combos)

Novos combos:  [('PH NEVE FT 20M L32P28UN', 'PAPEL TOALHA KITCHEN JUMB FD C360FL', 'OMO LAVA ROUPAS LAVAG PERFEITA 5LT'), ('PH PERSONAL VIP FD 40 ROLOSX30M', 'PAPEL TOALHA KITCHEN JUMB FD C360FL', 'MM LAVA ROUPAS 5LTS ULTIMATE CLEAN'), ('MM LAVA ROUPAS 5LTS ULTIMATE CLEAN', 'PAPEL TOALHA KITCHEN JUMB FD C360FL', 'PH PERSONAL VIP FD 40 ROLOSX30M'), ('OMO LAVA ROUPAS LAVAG PERFEITA 5LT', 'PAPEL TOALHA KITCHEN JUMB FD C360FL', 'PH NEVE FT 20M L32P28UN'), ('LIMPOL 6X500ML DETERG LIQ NATURAL', 'PAPEL TOALHA KITCHEN JUMB FD C360FL', 'ALCOOL LIQ BACT 70 INPM TOPFORM 1L'), ('SUPER CANDIDA 5LT AGUA SANITARIA', 'PAPEL TOALHA KITCHEN JUMB FD C360FL', 'ALCOOL LIQ BACT 70 INPM TOPFORM 1L'), ('ALCOOL LIQ BACT 70 INPM TOPFORM 1L', 'PAPEL TOALHA KITCHEN JUMB FD C360FL'), ('PH PERSONAL VIP FD 40 ROLOSX30M', 'MM LAVA ROUPAS 5LTS ULTIMATE CLEAN'), ('PH NEVE FT 20M L32P28UN', 'OMO LAVA ROUPAS LAVAG PERFEITA 5LT'), ('CENOURA KG', 'BANANA PRATA KG')]